wolframalpha
pyttsx3
SpeechRecognition
wikipedia
winshell
pyjokes
requests
twilio
feedparser
clint
PyAudio
wmi
pycaw
tensorflow==1.11.0
Pillow
google-api-python-client
google-auth-oauthlib
playsound
asyncio
PyDictionary
tqdm
librosa
matplotlib
PyQt5==5.9.2